/.gitattributes 			export-ignore
/.github 					export-ignore
/bump.js 					export-ignore
/tailwind.config.js 		export-ignore
/.phpunit.result.cache 		export-ignore
/phpunit.xml				export-ignore
/tests						export-ignore
/main.tailwind.css			export-ignore
/package.json				export-ignore
/package-lock.json			export-ignore
/main.tailwind.css			export-ignore
/vite.config.js				export-ignore